@charset "utf-8";



/**************************************************
共通カラー
**************************************************/

:root {
    --white: #faffff;
    --gray: #e9efef;
    --green: #558890;
    --blue: #070638;
    --black: #1C1C1C;
}



/**************************************************
共通セレクタ
**************************************************/

html {
    font-size: 62.5%;   /* default 16px * 62.5% = 10px を基準とする */
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: dnp-shuei-gothic-gin-std, Montserrat, Corbel, source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;      /* 10px * 1.2 = 12px */
    line-height: 1.8em;
    letter-spacing: .12em;
    color: var(--black);
    margin: 0 auto;
    background: var(--white);
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

span {
    display: inline-block;
}

/*** ヘッダー ***/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7000;
}

.site_title {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0;
}

.site_title a {
    font-family:  "pt-sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: .6em;
}

/*** グローバルナビ（メニュー） ***/
.global_nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8000;
    width: 200px;
    height: 320px;
    background: var(--green);
    color: var(--white);
    border-radius: 20px 0 0 20px;
    transform: translateX(200px);
    transition: all .3s;
}

.global_nav_list {
    padding: 100px 0;
}

.global_nav_item a {
    display: block;
    padding: 16px 54px;
    font-size: 1.6rem;
}

.global_nav_item a:hover {
    background: var(--blue);
    color: var(--white);
}

/*** メニューボタン ***/
.menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    z-index: 9000;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: var(--blue);
    transition: all .5s;
}

.menu span:nth-child(1) {
    transform: translateY(calc(50% - 5px));
}

.menu span:nth-child(2) {
    transform: translateY(calc(50% + 5px));
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6000;
    background: var(--black);
    visibility: hidden;
    opacity: .8;
}

/*** メニュー表示 ***/
.global_nav.show {
    transform: translateX(0);
}

.menu.show span {
    background: var(--white);
}

.menu.show span:nth-child(1) {
    transform: translateY(50%) rotate(45deg);
}

.menu.show span:nth-child(2) {
    transform: translateY(50%) rotate(-45deg);
}

.mask.show {
    visibility: visible;
}

