@charset "utf-8";

/**************************************************
   z-index 管理（重なりの順番）
**************************************************/
/* --- 全ページ共通 --- */
.modal          { z-index: 10000; }     /* モーダルコンテンツ */
.mask.is-modal  { z-index: 9000; }      /* モーダル表示時の背景マスク */

.loading        { z-index: 8000; }      /* ローディング */
.cursor         { z-index: 7000; }      /* カスタムカーソル */

header          { z-index: 4000; }      /* ヘッダー */
    .menu       { z-index: 200; }       /* メニューボタン（ヘッダー内） */
    .global-nav { z-index: 100; }       /* ナビゲーション（ヘッダー内） */

footer          { z-index: 3000; }      /* フッター */
.mask           { z-index: 2000; }      /* メニュー表示時の背景マスク */

main            { z-index: 1; }         /* メインコンテンツ */


/* --- トップページ --- */
.scroll-txt::after { z-index: -1; }     /* スクロールバー：テキストの後ろを通過させるため */



/**************************************************
   共通　Color / Font / Animation Setting
**************************************************/
:root {
    /* --- Color --- */
    --white: #faffff;
    --gray : #e6ecec;
    --green: #558890;
    --blue : #070638;
    --black: #1c1c1c;


    /* --- Font family --- */
    --base-font  : dnp-shuei-gothic-gin-std, Montserrat, Corbel, source-sans-pro, sans-serif;
    --accent-font: futura-pt, dnp-shuei-gothic-gin-std, sans-serif;
    --countup-font: "inter-variable",sans-serif;
    

    /* --- Font size --- */
    --font-size-s  : clamp(1.0rem, 0.82rem + 0.2vw, 1.2rem);    /* 可変10～12px */
    --font-size-m  : clamp(1.2rem, 0.85rem + 0.39vw, 1.6rem);   /* 可変12～16px */
    --font-size-l  : clamp(2.0rem, 1.3rem + 0.78vw, 2.8rem);    /* 可変20～28px */
    --font-size-xl : clamp(2.6rem, 1.36rem + 1.37vw, 4.0rem);   /* 可変26～40px */
    --font-size-2xl: clamp(3.0rem, 2.37rem + 1.56vw, 5.0rem);   /* 可変32～64px */


    /* --- Space --- */
    --space-2xs: 0.4rem;    /* 固定4px */
    --space-xs : 0.8rem;    /* 固定8px */
    --space-s  : clamp(1.6rem, 0.89rem + 0.78vw, 2.4rem);       /* 可変16～24px */
    --space-m  : clamp(2.4rem, 0.99rem + 1.57vw, 4.0rem);       /* 可変24～40px */
    --space-l  : clamp(5.6rem, 2.6rem + 3.75vw, 12.0rem);       /* 可変56～120px */
    --space-xl : clamp(12.0rem, 6.38rem + 7.03vw, 24.0rem);     /* 可変120～240px */
    --nav-space-top   : 4vw;    /* global-nav 上部余白 可変4vw */
    --nav-space-bottom: 2vw;    /* global-nav 下部余白 可変2vw */
    --nav-space-x     : 4vw;    /* global-nav-item a 左右余白 可変4vw */
    --work-slide-space-x: 25%;  /* (top)work-list 左右余白 可変25% */
    --work-slide-gap  : 10%;    /* (top)work-list 子要素間余白 可変10% */
    --catch-space-x   : 50vw;   /* (top)catch-item 右側余白 可変50vw */
    --contact-space-sp-x: 50vw;   /* (top)contact-item 左側余白 可変50vw */


    /* --- Width & Height --- */
    --cursor-xy        : 12px;                                      /* cursor 固定12px */
    --nav-pc-x         : clamp(20.0rem, 16.0rem + 6.25vw, 28.0rem); /* [PC]global-nav 可変200～280px */
    --menu-btn-xy      : 24px;                                      /* menu, modal-close 固定24px */
    --menu-btn-span-y  : 3px;                                       /* menu, modal-close 固定3px */
    --modal-x          : 70%;                                       /* modal 可変70% */
    --modal-max-x      : 1000px;                                    /* modal 固定1000px */
    --container-x      : 90%;                                       /* container 可変90% */
    --container-max-x  : 1280px;                                    /* container 可変1280px */
    --work-text-item-y : clamp(3.0rem, 2.5rem + 1.0vw, 4.0rem);     /* (top)work-text-area, work-text-item 可変30～40px(1行)  */
    --work-text-pc-x   : 55%;                                       /* [PC](top)work-text-area 可変55% */
    --work-text-sp-x   : 80%;                                       /* [SP](top)work-text-area 可変80% */
    --work-text-sp-top : 12.5dvh;                                   /* [SP](top)work-text-area 可変12.5dvh */
    --contact-description-x : 80%;                                  /* [SP](top)contact-description 可変80% */
    --contact-item-pc-x: 200px;                                     /* [PC](top)contact-item 固定200px */
    --contact-item-a-pc-xy: 150px;                                  /* [PC](top)contact-item a 固定150px */
    --contact-item-a-sp-xy: 120px;                                  /* [PC](top)contact-item a 固定120px */
    --scroll-x   : clamp(16.0rem, 14.0rem + 5.0vw, 20.0rem);        /* (top)scroll 可変16～20px */
    --indicator-xy     : 8px;                                       /* [SP](top)indicator 固定8px */


    /* --- Border & Radius --- */
    --border-thin: 0.5px;       /* 固定0.5px */
    --border-base: 1px;         /* 固定1px */
    --radius-s   : 8px;         /* 固定8px */
    --radius-m   : 16px;        /* 固定16px */
    --radius-l   : 100px;       /* 固定100px */


    /* --- Shadow --- */
    --shadow-modal : 0 20px 60px rgba(0, 0, 0, 0.5);    /* modal x軸0、y軸20px、ぼかし60px、黒 */
    --shadow-small : 0 0 3px #ccc;


    /* --- Animation Setting（全体で動きのトーンを揃えるための変数） --- */
    --transition-base : 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    --transition-slide: 1.2s cubic-bezier(0.16, 1, 0.30, 1);
}


/* --- Adobe Fonts 読み込み待ちのちらつき防止 --- */
.wf-loading body { color: transparent; }
.wf-active body,
.wf-inactive body { color: inherit; }



/**************************************************
   共通　Selector
**************************************************/
html {
    font-size: 62.5%;   /* default 16px * 62.5% = 10px */
    width: 100%;
    scrollbar-gutter: stable;   /* スクロールバーの幅を常に確保 */ 
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin-inline: auto;
    background-color: var(--gray);
    color: var(--black);
    font-family: var(--base-font);
    font-size: var(--font-size-m);
    line-height: 1.8;
    letter-spacing: 0.12em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;         /* リンクテキストの色をリセット */
}

span {
    display: inline-block;
}



/**************************************************
   共通　Cursor（追尾カーソル）
**************************************************/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--cursor-xy);
    height: var(--cursor-xy);
    margin-top: calc(var(--space-xs) * -1);
    margin-left: calc(var(--space-xs) * -1);
    border-radius: 50%;
    pointer-events: none;           /* クリックの邪魔にならないようにする */
    background-color: var(--blue);  /* 通常：青 */
    opacity: 0;                     /* ローディング中：非表示 */
    visibility: hidden;
    translate: var(--x, 0px) var(--y, 0px);     /* マウスの現在地をJSから受け取る。それまでは画面左上に配置。 */
    transition:
        translate 0.1s ease-out,        /* 元のカーソルから0.1秒遅れて追従 */
        opacity   0.3s ease,            /* 0.3秒で透明度を変化させて徐々に表示（ローディング後） */
        scale     0.3s ease,            /* 0.3秒で大きさを徐々に変化（ホバー時） */
        background-color 0.3s ease;     /* 0.3秒で色を徐々に変化（ホバー時） */
}

body.content-ready .cursor {
    opacity: 0.5;                   /* ローディング後：表示 */
    visibility: visible;
}

body.content-ready .cursor.cursor-large {
    scale: 3;                           /* ホバー：大きくする */
    background-color: var(--green);     /* ホバー：緑 */
}



/**************************************************
   共通　Header
**************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.site-title {
    position: absolute;
    top: var(--space-m);
    left: var(--space-m);
    margin: 0;
    line-height: 1;
}

.site-title a {
    font-family: var(--accent-font);
    font-weight: 700;
    font-style: normal;
    font-family: futura-pt, sans-serif;
    font-size: var(--font-size-l);
    letter-spacing: 0.4em;
}


/* --- Navigation --- */
.global-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--nav-pc-x);
    font-family: var(--accent-font);
    letter-spacing: 0.2em;
    background-color: var(--green);
    color: var(--white);
    border-radius: var(--radius-m) 0 0 var(--radius-m);
    padding-top: var(--nav-space-top);
    padding-bottom: var(--nav-space-bottom);
    visibility: hidden;                 /* メニュー閉：非表示 */
    transform: translateX(100%);        /* メニュー閉：非表示（画面外にずらす） */
    transition:
        transform 0.3s ease,            /* メニュー開閉：0.3秒かけてメニューをスライドして表示・非表示 */
        visibility 0.3s;                /* メニュー開閉：0.3秒後に表示・非表示 */
}

.global-nav.show {
    visibility: visible;                /* メニュー開：表示 */
    transform: translateX(0);           /* メニュー開：表示（画面内に戻す） */
}

.global-nav-list {
    padding-block: var(--space-s);
}

.global-nav-item a {
    position: relative;
    display: block;
    font-size: var(--font-size-l);
    padding-block: var(--space-s);
    padding-inline: var(--nav-space-x);
}


/* --- Menu Button --- */
.menu {
    position: absolute;
    top: var(--space-m);
    right: var(--space-m);
    width: var(--menu-btn-xy);
    height: var(--menu-btn-xy);
    cursor: pointer;
}

.menu span {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--menu-btn-span-y);
    background-color: var(--blue);      /* メニュー閉：青 */
    transition:
        background-color 0.5s,          /* メニュー開閉：0.5秒で色を徐々に変化 */
        transform 0.5s;                 /* メニュー開閉：0.5秒で二本線・バツ印を徐々に変化 */
}

.menu.show span {
    background-color: var(--white);     /* メニュー開：白 */
}

.menu span:nth-child(1) { transform: translateY(7px); }             /* メニュー閉：二本線 */
.menu span:nth-child(2) { transform: translateY(17px); }

.menu.show span:nth-child(1) { transform: translateY(12px) rotate(45deg); }      /* メニュー開：バツ印 */
.menu.show span:nth-child(2) { transform: translateY(12px) rotate(-45deg); }



/**************************************************
   共通　Main
**************************************************/
.wrapper {
    padding-top: var(--space-l);
}

.section {
    margin-bottom: var(--space-xl);
}

.section-title {
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: var(--font-size-2xl);
    letter-spacing: 0.2em;
    text-align: center;
    border-bottom: var(--border-thin) solid var(--green);
    margin-bottom: var(--space-l);
}

.container {
    width: var(--container-x);
    max-width: var(--container-max-x);
    margin-inline: auto;
    padding-inline: var(--space-m);
}


/* --- Labels --- */
.label {
    font-weight: 400;
    border: 1px solid var(--blue);
    border-radius: var(--radius-l);         /* 左右両端を半円にする（要素の高さの半分より大きい値を設定すれば自動的に半円になる） */
    padding-block: var(--space-2xs);
    padding-inline: var(--space-s);
}

.work-type-label {
    background-color: var(--blue);
    color: var(--white);
}

.work-skill-label {
    background-color: var(--white);
    color: var(--blue);
}



/**************************************************
   共通　Footer
**************************************************/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: var(--font-size-s);
}

.github-link {
    position: absolute;
    bottom: var(--space-m);
    left: var(--space-m);
    letter-spacing: 0.2em;
    color: var(--blue);
}

.copy-right {
    position: absolute;
    bottom: var(--space-m);
    right: var(--space-m);
    letter-spacing: 0.2em;
}



/**************************************************
   共通　Modal
**************************************************/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--modal-x);
    max-width: var(--modal-max-x);
    opacity: 0;                 /* 通常：非表示 */
    visibility: hidden;
    transition:
        opacity 0.4s ease,      /* モーダル表示：0.4秒かけて徐々に表示 */
        visibility 0.4s;
}

.modal.show {
    opacity: 1;                 /* モーダル：表示 */
    visibility: visible;
}

.modal-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-modal);
}

.modal-close {
    position: absolute;
    top: calc(var(--space-m) * 1);
    right: calc(var(--space-m) * 1);
    width: var(--menu-btn-xy);
    height: var(--menu-btn-xy);
    cursor: pointer;
    opacity: 0;                 /* 通常：閉じるボタン非表示 */
    visibility: hidden;
    transition:
        opacity 0.4s ease,      /* モーダル表示・非表示：0.4秒かけて徐々に表示・非表示 */
        visibility 0.4s;
}

.modal.show .modal-close {
    opacity: 1;                 /* モーダル表示：閉じるボタン表示 */
    visibility: visible;
}

.modal-close span {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--menu-btn-span-y);
    background-color: var(--black);
    top: 50%;
}

.modal-close span:nth-child(1) { transform: rotate(45deg); }    /* 常時：バツ印（表示・非表示は.modal-closeで制御） */
.modal-close span:nth-child(2) { transform: rotate(-45deg); }

.modal-trigger-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
}



/**************************************************
   共通　Mask（メニュー表示時・モーダル表示時の背景マスク）
**************************************************/
.mask {
    position: fixed;
    inset: 0;
    background-color: var(--black);
    opacity: 0;                 /* メニュー閉：非表示 */
    visibility: hidden;
    transition:
        opacity 0.3s,           /* メニュー開閉：0.3秒かけて透明度を徐々に変えて背景マスクを表示・非表示 */
        visibility 0.3s;
}

.mask.show,
.mask.is-modal {
    opacity: 0.8;               /* メニュー開・モーダル：表示 */
    visibility: visible;
}



/**************************************************
   共通　Media Queries
**************************************************/
/* --- 画面サイズで判定（～768pxのスマホ・タブレット端末を想定） --- */
@media screen and (max-width:768px) {
    html {
        scrollbar-gutter: auto;     /* スクロールバーのための隙間をなくす */
    }

    .global-nav {
        width: 100%;
        height: 100dvh;
        border-radius: 0;
        padding-block: var(--space-xl);
        clip-path: inset(0 0 100% 0);       /* メニュー閉：下方向100%を切り取り（スマホの上下メニューバーの色残りを見えないようにする） */
        transform: translateY(-100dvh);     /* メニュー閉：非表示（画面外にずらす） */
        visibility: hidden;
        transition:
            transform 0.6s ease,            /* メニュー開閉：0.6秒かけてメニューをスライドして表示・非表示 */
            visibility 0.6s,                /* メニュー開閉：0.6秒後にメニューを表示・非表示 */
            clip-path 0.9s ease 0.3s;       /* メニュー開閉：0.3秒遅れて0.9秒かけて切り取り実行・解除 */
    }

    .global-nav.show {
        clip-path: inset(0 0 0 0);          /* メニュー開：切り取りを解除 */
        visibility: visible;                /* メニュー開：表示 */ 
        transform: translateY(0);           /* メニュー開：表示（画面内に戻す） */
    }

    .global-nav-item {
        border-top: var(--border-base) dotted var(--white);
    }

    .global-nav-item:last-child {
        border-bottom: var(--border-base) dotted var(--white);
    }

    .global-nav-item a {
        display: block;
        padding-block: var(--space-l);
        padding-inline: var(--space-xl);
    }

    .global-nav-item a.active {
        background-color: var(--blue);
    }

    .github-link {
        bottom: var(--space-2xs);
    }

    .github-link::after {
        content: ">";               /* マウスホバー演出の代わりにクリックが出来ることを認識できるように追加 */
        position: relative;
        top: 50%;
        left: var(--space-2xs);
        transform: translateY(-50%);
    }

    .copy-right {
        bottom: var(--space-2xs);
    }
}


/* --- 操作方法で判定（PCなどのホバー可能な端末） --- */
@media (hover:hover) {
    .global-nav-item a:hover {
        background-color: var(--blue);              /* ホバー：背景色を青 */
        transition: background-color 0.8s ease;     /* ホバー：0.8秒かけて背景色を徐々に変化 */
    }
}


/* --- 操作方法で判定（iPad + マウスなどの特殊ケースをカバー） --- */
@media (hover: none), (pointer: coarse) {
    a, button {
        -webkit-tap-highlight-color: transparent;       /* リンクを長押しした時のシステムのハイライトを消す */
    }

    img, a {
        -webkit-touch-callout: none;        /* 画像やリンクを長押しした時に「コピー/保存」メニューが出るのを防ぐ */
    }

    .global-nav, .menu {
        user-select: none;              /* スライド操作中に誤って文字が選択されるのを防ぐ */
        -webkit-user-select: none;
    }

    .cursor {
        display: none;              /* カーソルを隠す */
    }
}
