@charset "utf-8";

/**************************************************
   z-index 管理（全ページ分）
**************************************************/
/* 全ページ共通 */
/* 10000: ローディング（全てを隠す） */
.loading { z-index: 10000; }

/*  9000: カスタムカーソル */
.cursor { z-index: 9000; }

/*  3000: ヘッダー・フッター */
header { z-index: 3000; }
    .menu { z-index: 200; }         /* 200: メニューボタン（ヘッダー内の順番） */
    .global-nav { z-index: 100; }   /* 100: メニュー（ヘッダー内の順番） */

footer { z-index: 3000; }

/*  2000: メニュー表示時の背景マスク */
.mask { z-index: 2000; }

/* 0 (auto): メイン */
main { z-index: 1; }


/* トップページ */
.scroll-txt::after { z-index: -1; }     /* -1: スクロールバー（メイン内の順番） */



/**************************************************
   共通　Colors / Fonts (Adobe Fonts)
**************************************************/
:root {
    /* Colors */
    --white: #faffff;
    --gray: #e6ecec;
    --green: #558890;
    --blue: #070638;
    --black: #1C1C1C;

    /* Fonts */
    --base-font: dnp-shuei-gothic-gin-std, Montserrat, Corbel, source-sans-pro, sans-serif;
    --accent-font: "pt-sans", sans-serif;
}

.wf-loading body {
    color: transparent;     /* 読み込み中はテキストを隠す（ちらつき防止） */
}

.wf-active body,
.wf-inactive body {
    color: inherit;         /* 読み込み完了、または失敗時は表示する */
}



/**************************************************
   共通　Selectors
**************************************************/
html {
    font-size: 62.5%;   /* default 16px * 62.5% = 10px を基準とする */
    width: 100%;
    scrollbar-gutter: stable;   /* スクロールバーの幅を常に確保し、重ねて表示 */ 
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: var(--base-font);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;      /* 10px * 1.2 = 12px */
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: var(--black);
    margin: 0 auto;
    background-color: var(--gray);
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;         /* 親要素の色を引き継ぐ（リンクテキストの青や紫をリセット） */
}

span {
    display: inline-block;
}



/**************************************************
   共通　追尾カーソル
**************************************************/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    pointer-events: none;   /* 追尾カーソルがクリックの邪魔にならないようにする */
    translate: var(--x, 0px) var(--y, 0px);     /* 初期設定：JSから受け取った座標（--x, --y）を適用。変数が空のときは画面左上（0px, 0px）に配置。 */
    opacity: 0;                     /* 初期設定：透明 */
    visibility: hidden;             /* 初期設定：非表示 */
    background-color: var(--blue);  /* 初期設定：青色 */
    transition: 
        translate 0.1s ease-out,    /* 0.1秒遅れて追従 */
        opacity 0.3s ease,          /* 0.3秒で透明度を変化 */
        scale 0.3s ease,            /* 0.3秒で大きさを変化 */
        background-color 0.3s ease;     /* 0.3秒で色を変化 */
}

body.content-ready .cursor {
    opacity: 0.5;                   /* ローディング画面終了時の設定：不透明 */
    visibility: visible;            /* ローディング画面終了時の設定：表示 */
}

body.content-ready .cursor.cursor-large {
    scale: 4;                           /* ホバー時の設定：大きくする */
    background-color: var(--green);     /* ホバー時の設定：緑色 */
}

@media (hover: none), (pointer: coarse) {
    #cursor {
        display: none;              /* PC以外の設定：カーソルを隠す（スマホ対応） */
    }
}



/**************************************************
   共通　Header
**************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


/*** サイトタイトル ***/
.site-title {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0;
}

.site-title a {
    font-family: var(--accent-font);
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.6em;
}


/*** グローバルナビ（メニュー） ***/
.global-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 320px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px 0 0 20px;
    transform: translateX(200px);   /* メニュー閉時の設定：非表示（画面外にずらす） */
    transition: transform 0.3s;     /* メニュー開閉時の設定：0.3秒かけてメニューをスライドして表示・非表示を切替 */
}

.global-nav.show {
    transform: translateX(0);       /* メニュー開時の設定：表示（画面内に戻す） */
}

.global-nav-list {
    padding: 100px 0;
}

.global-nav-item a {
    display: block;
    padding: 16px 54px;
    font-size: 1.6rem;
}

.global-nav-item a:hover {
    background-color: var(--blue);      /* ホバー時の設定：背景を青にする */
    transition: background-color 1s;    /* ホバー時の設定：1秒かけて背景色を変化 */
}


/*** メニューボタン ***/
.menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--blue);      /* メニュー閉時の設定：青 */
    transition:
        background-color 0.5s,          /* メニュー開閉時の設定：0.5秒で色を変化 */
        transform 0.5s;                 /* メニュー開閉時の設定：0.5秒で二本線・✕印を変化 */
}

.menu.show span {
    background-color: var(--white);     /* メニュー開時の設定：白 */
}

.menu span:nth-child(1) {
    transform: translateY(calc(50% - 5px));     /* メニュー閉時の設定：二本線 */
}

.menu.show span:nth-child(1) {
    transform: translateY(50%) rotate(45deg);   /* メニュー開時の設定：✕印 */
}

.menu span:nth-child(2) {
    transform: translateY(calc(50% + 5px));     /* メニュー閉時の設定：二本線 */
}

.menu.show span:nth-child(2) {
    transform: translateY(50%) rotate(-45deg);  /* メニュー開時の設定：✕印 */
}



/**************************************************
   共通　Mask
**************************************************/
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--black);
    visibility: hidden;         /* メニュー閉時の設定：非表示 */
    opacity: 0;                 /* メニュー閉時の設定：透明 */
}

.mask.show {
    visibility: visible;        /* メニュー開時の設定：表示 */
    opacity: 0.8;               /* メニュー開時の設定：不透明 */
}



/**************************************************
   共通　Main
**************************************************/
main {
    position: relative;
    width: 100%;
}

.wrapper {
    width: 100%;
    padding: 60px 0;
}

.section {
    width: 84%;
    margin: 0 auto 120px;
}

.section-title {
    font-family: var(--accent-font);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: 0.6em;
    text-align: center;
    border-bottom: 0.5px solid var(--green);
    margin: 0 auto 100px;
}

.label {
    font-weight: 400;
    border: 1px solid var(--blue);
    border-radius: 100px;       /* 両端を半円にする（要素の高さの半分より大きい値を設定しておけば自動的に半円になる） */
    padding: 2px 14px;
    margin: 5px;
}

.work-type-label {
    background-color: var(--blue);
    color: var(--white);
}

.work-skill-label {
    background-color: var(--white);
    color: var(--blue);
}



/**************************************************
   共通　Footer
**************************************************/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

.github-link {
    position: absolute;
    bottom: 30px;
    left: 30px;
    letter-spacing: 0.2em;
    color: var(--blue);
}

.copy-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 0.2em;
}
