@charset "utf-8";

/**************************************************
   Common / Variable Setting
**************************************************/
:root {
    /* --- z-index --- */
    --z-modal          : 10000;     /* モーダル */
    --z-mask-is-modal  : 9000;      /* モーダル時の背景マスク */
    --z-loading        : 8000;      /* ローディング */
    --z-cursor         : 7000;      /* 追尾カーソル */
    --z-header         : 5000;      /* ヘッダー */
        --z-menu       : 200;       /* ヘッダー内メニュー */
        --z-global-nav : 100;       /* ヘッダー内グローバルナビ */
    --z-mask           : 4000;      /* ヘッダー開時の背景マスク */
    --z-pagetop        : 3000;      /* ページトップに戻るボタン */
    --z-footer         : 2000;      /* フッター */
    --z-main           : 1;         /* メイン */
    --z-back-content   : -1;        /* 背面に表示するコンテンツ */


    /* --- Color --- */
    --white    : #faffff;
    --gray     : #e6ecec;
    --green    : #558890;
    --blue     : #070638;
    --black    : #1c1c1c;
    --gradient : linear-gradient(180deg, #748e91 0%, #465a5d 100%);


    /* --- Font family --- */
     /* (common) */
    --base-font    : dnp-shuei-gothic-gin-std, Montserrat, Corbel, source-sans-pro, sans-serif;
    --accent-font  : futura-pt, dnp-shuei-gothic-gin-std, sans-serif;
     /* (top) */
    --countup-font : "inter-variable",sans-serif;
    

    /* --- Font size --- */
    --font-size-s   : clamp(1.0rem, 0.82rem + 0.2vw, 1.2rem);    /* 10～12px */
    --font-size-m   : clamp(1.2rem, 0.85rem + 0.39vw, 1.6rem);   /* 12～16px */
    --font-size-l   : clamp(2.0rem, 1.3rem + 0.78vw, 2.8rem);    /* 20～28px */
    --font-size-xl  : clamp(2.6rem, 1.36rem + 1.37vw, 4.0rem);   /* 26～40px */
    --font-size-2xl : clamp(3.0rem, 2.37rem + 1.56vw, 5.0rem);   /* 32～64px */


    /* --- Space --- */
    /* (common) */
    --space-2xs          : 0.4rem;                                      /* 4px */
    --space-xs           : 0.8rem;                                      /* 8px */
    --space-s            : clamp(1.6rem, 0.89rem + 0.78vw, 2.4rem);     /* 16～24px */
    --space-m            : clamp(2.4rem, 0.99rem + 1.57vw, 4.0rem);     /* 24～40px */
    --space-l            : clamp(5.6rem, 2.6rem + 3.75vw, 12.0rem);     /* 56～120px */
    --space-xl           : clamp(12.0rem, 6.38rem + 7.03vw, 24.0rem);   /* 120～240px */
    /* (top) */
    --work-text-sp-top   : 12.5dvh;                                 /* work-text 上余白 12.5dvh[SP] */
    --work-slide-space-x : 25%;                                     /* work-list 左右余白 25% */
    --work-slide-gap     : 15%;                                     /* work-list 子要素間余白 15% */
    --work-space-x       : 50vw;                                    /* catch,contact 隣との余白 50vw */


    /* --- Width & Height --- */
    /* (common) */
    --cursor-xy         : 12px;                                      /* cursor 直径 12px[PC] */
    --nav-x             : clamp(20.0rem, 16.0rem + 6.25vw, 28.0rem); /* global-nav 幅 200～280px[PC] */
    --menu-btn-xy       : 24px;                                      /* menu, modal-close 幅・高さ 24px */
    --menu-btn-line-y   : 3px;                                       /* menu, modal-close 線の太さ 3px */
    --modal-x           : min(70%, 1000px);                          /* modal 幅 70%(max1000px) */
    --section-lead-x    : clamp(50.0rem, 60%, 120.0rem);             /* section-lead 幅 500～1200px */
    --container-x       : min(90%, 1280px);                          /* container 幅 90%(max1280px) */
    /* (top) */
    --work-text-pc-x    : 50%;                                       /* work-text-area 幅 50%[PC] */
    --work-text-sp-x    : 80%;                                       /* work-text-area 幅 80%[SP] */
    --work-text-item-y  : clamp(3.0rem, 2.5rem + 1.0vw, 4.0rem);     /* work-text-area, item 高さ 30～40px(1行)  */
    --contact-item-pc-x : 85%;                                       /* [PC]contact-item 85% */
    --scroll-x          : clamp(16.0rem, 14.0rem + 5.0vw, 20.0rem);  /* scroll-bar 幅 16～20px[PC] */
    --indicator-xy      : 8px;                                       /* indicator 直径 8px[SP] */


    /* --- Border & Radius --- */
    --border-thin: 0.5px;       /* 固定0.5px */
    --border-base: 1px;         /* 固定1px */
    --radius-s   : 8px;         /* 固定8px */
    --radius-m   : 16px;        /* 固定16px */
    --radius-l   : 100px;       /* 固定100px */


    /* --- Shadow --- */
    --shadow-modal : 0 20px 60px rgba(0, 0, 0, 0.5);    /* modal x軸0、y軸20px、ぼかし60px、黒 */
    --shadow-small : 0 0 3px #ccc;


    /* --- Animation Setting（全体で動きのトーンを揃えるための変数） --- */
    --transition-base : 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    --transition-slide: 1.2s cubic-bezier(0.16, 1, 0.30, 1);
}



/**************************************************
   Common / Adobe Fonts Setting
**************************************************/
/* --- 読み込み待ちのちらつき防止 --- */
.wf-loading body { color: transparent; }
.wf-active body,
.wf-inactive body { color: inherit; }



/**************************************************
   Common / Selector
**************************************************/
html {
    font-size: 62.5%;           /* default 16px * 62.5% = 10px */
    width: 100%;
    scrollbar-gutter: stable;   /* スクロールバーの幅を常に確保 */ 
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin-inline: auto;
    background-color: var(--gray);
    color: var(--black);
    font-family: var(--base-font);
    font-size: var(--font-size-m);
    line-height: 1.8;
    letter-spacing: 0.12em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;         /* リンクテキストの色をリセット */
}

span {
    display: inline-block;
}



/**************************************************
   Common / Cursor
**************************************************/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--cursor-xy);
    height: var(--cursor-xy);
    margin-top: calc(var(--space-xs) * -1);
    margin-left: calc(var(--space-xs) * -1);
    border-radius: 50%;
    pointer-events: none;               /* クリックの邪魔にならないようにする */
    z-index: var(--z-cursor);
    background-color: var(--blue);      /* 通常：青 */
    opacity: 0;                         /* ローディング中：非表示 */
    visibility: hidden;
    translate: var(--x, 0px) var(--y, 0px);     /* マウスの現在地をJSから受け取る。それまでは画面左上に配置。 */
    transition:
        translate 0.1s ease-out,        /* 元のカーソルから0.1秒遅れて追従 */
        opacity   0.3s ease,            /* 0.3秒で透明度を変化させて徐々に表示（ローディング後） */
        scale     0.3s ease,            /* 0.3秒で大きさを徐々に変化（ホバー時） */
        background-color 0.3s ease;     /* 0.3秒で色を徐々に変化（ホバー時） */
}

body.content-ready .cursor {
    opacity: 0.7;                       /* ローディング後：表示 */
    visibility: visible;
}

body.content-ready .cursor.cursor-large {
    scale: 3;                           /* ホバー：大きくする */
    background-color: var(--green);     /* ホバー：緑 */
}



/**************************************************
   Common / Header
**************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-header);
}

.site-title {
    position: absolute;
    top: var(--space-m);
    left: var(--space-m);
    margin: 0;
    line-height: 1;
}

.site-title a {
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: var(--font-size-l);
    letter-spacing: 0.4em;
}


/* --- Navigation --- */
.global-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--nav-x);
    background-color: var(--green);
    border-radius: var(--radius-m) 0 0 var(--radius-m);
    padding-top: calc(var(--space-m) * 3);
    padding-bottom: calc(var(--space-m) * 2);
    z-index: var(--z-global-nav);
    visibility: hidden;                 /* メニュー閉：非表示 */
    transform: translateX(100%);        /* メニュー閉：非表示（画面外にずらす） */
    transition:
        transform 0.3s ease,            /* メニュー開閉：0.3秒かけてメニューをスライドして表示・非表示 */
        visibility 0.3s;                /* メニュー開閉：0.3秒後に表示・非表示 */
}

.global-nav.show {
    visibility: visible;                /* メニュー開：表示 */
    transform: translateX(0);           /* メニュー開：表示（画面内に戻す） */
}

.global-nav-item a {
    display: block;
    font-family: var(--accent-font);
    font-size: var(--font-size-l);
    letter-spacing: 0.2em;
    color: var(--white);
    padding-block: var(--space-s);
    padding-inline: calc(var(--space-m) * 2);
}

.global-nav-item a.active {
    background-color: var(--blue);
}


/* --- Menu Button --- */
.menu {
    position: absolute;
    top: var(--space-m);
    right: var(--space-m);
    width: var(--menu-btn-xy);
    height: var(--menu-btn-xy);
    cursor: pointer;
    z-index: var(--z-menu);
}

.menu span {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--menu-btn-line-y);
    background-color: var(--blue);      /* メニュー閉：青 */
    transition:
        background-color 0.5s,          /* メニュー開閉：0.5秒で色を徐々に変化 */
        transform 0.5s;                 /* メニュー開閉：0.5秒で二本線・バツ印を徐々に変化 */
}

.menu.show span {
    background-color: var(--white);     /* メニュー開：白 */
}

.menu span:nth-child(1) { transform: translateY(7px); }             /* メニュー閉：二本線 */
.menu span:nth-child(2) { transform: translateY(17px); }

.menu.show span:nth-child(1) { transform: translateY(12px) rotate(45deg); }      /* メニュー開：バツ印 */
.menu.show span:nth-child(2) { transform: translateY(12px) rotate(-45deg); }



/**************************************************
   Common / Main
**************************************************/
main {
    z-index: var(--z-main);
}

.wrapper {
    padding-top: var(--space-l);
}

.section {
    margin-bottom: calc(var(--space-xl) * 2);
}

.section-title {
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: var(--font-size-2xl);
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: var(--space-l);
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: var(--border-thin);
    background-color: var(--green);
    transform: translateX(-50%);
}

.section-lead {
    width: var(--section-lead-x);
    margin-inline: auto;
    margin-bottom: var(--space-l);
}

.container {
    width: var(--container-x);
    margin-inline: auto;
    padding-inline: var(--space-m);
}


/* --- Labels --- */
.work-type-label {
    color: var(--green);
}



/**************************************************
   Common / Contact
**************************************************/
.contact-section {
    margin-bottom: 0;
    padding-top: 100vh;
    background: var(--gradient);
}

.contact-outer {
    display: flex;
    justify-content: space-between;
    padding: var(--space-l);
    background-color: var(--white);
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    filter: drop-shadow(0 0 4px var(--blue));
}

.photo-inner {
    flex-basis: 45%;
    position: relative;
}

.photo-inner img {
    display: block;
    position: absolute;  
    width: 50%; 
    border: var(--border-base) solid var(--white);
    border-radius: var(--radius-s);
}

.photo-inner img:nth-child(1) {
    top: 0;
    left: 0;
}

.photo-inner img:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.photo-inner img:nth-child(3) {
    bottom: 0;
    right: 0;
}

.contact-item {
    flex-basis: 50%;
    text-align: center;
    padding-block: var(--space-l);
}

.contact-msg {
    margin-bottom: var(--space-m);
}

.mail-btn {
    display: inline-block;
    padding-block: var(--space-xs);
    padding-inline: var(--space-m);
    margin-inline: auto;
    border: var(--border-base) solid var(--green);
    border-radius: var(--radius-l);         /* 左右両端を半円にする（要素の高さの半分より大きい値を設定すれば自動的に半円になる） */
    font-family: var(--accent-font);
    font-size: var(--font-size-l);
    color: var(--green);                    /* 通常：緑 */
    transition: color 0.5s ease;            /* ホバー：0.5秒かけて文字色を徐々に変化 */
}



/**************************************************
   Common / Pagejump
**************************************************/
.pagetop {
    position: fixed;
    bottom: var(--space-l);
    right: 0;
    z-index: var(--z-pagetop);
    background-color: var(--green);
    color: var(--white);
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    border: none;
    border-radius: var(--radius-m) 0 0 var(--radius-m);
    cursor: pointer;
    opacity: 0;
    transform: translateX(100%);
    transition:
        background-color 0.3s,
        padding 0.3s,
        opacity 0.5s,
        transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.pagetop.is-show {
    opacity: 1;
    transform: translateX(0);
}

.pagetop-text {
    display: block;
    font-family: var(--accent-font);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}



/**************************************************
   Common / Footer
**************************************************/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: var(--font-size-s);
    z-index: var(--z-footer);
}

.github-link {
    position: absolute;
    bottom: var(--space-m);
    left: var(--space-m);
    letter-spacing: 0.2em;
    color: var(--blue);
}

.copy-right {
    position: absolute;
    bottom: var(--space-m);
    right: var(--space-m);
    letter-spacing: 0.2em;
}



/**************************************************
   Common / Modal
**************************************************/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--modal-x);
    z-index: var(--z-modal);
    opacity: 0;                 /* 通常：非表示 */
    visibility: hidden;
    transition:
        opacity 0.4s ease,      /* モーダル表示：0.4秒かけて徐々に表示 */
        visibility 0.4s;
}

.modal.show {
    opacity: 1;                 /* モーダル：表示 */
    visibility: visible;
}

.modal-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-modal);
}

.modal-close {
    position: absolute;
    top: var(--space-m);
    right: var(--space-m);
    width: var(--menu-btn-xy);
    height: var(--menu-btn-xy);
    cursor: pointer;
    opacity: 0;                 /* 通常：閉じるボタン非表示 */
    visibility: hidden;
    transition:
        opacity 0.4s ease,      /* モーダル表示・非表示：0.4秒かけて徐々に表示・非表示 */
        visibility 0.4s;
}

.modal.show .modal-close {
    opacity: 1;                 /* モーダル表示：閉じるボタン表示 */
    visibility: visible;
}

.modal-close span {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--menu-btn-line-y);
    background-color: var(--black);
    top: 50%;
}

.modal-close span:nth-child(1) { transform: rotate(45deg); }    /* 常時：バツ印（表示・非表示は.modal-closeで制御） */
.modal-close span:nth-child(2) { transform: rotate(-45deg); }

.js-modal-trigger-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
}



/**************************************************
   Common / Mask
**************************************************/
.mask {
    position: fixed;
    inset: 0;
    background-color: var(--black);
    z-index: var(--z-mask);
    opacity: 0;                 /* メニュー閉：非表示 */
    visibility: hidden;
    transition:
        opacity 0.3s,           /* メニュー開閉：0.3秒かけて透明度を徐々に変えて背景マスクを表示・非表示 */
        visibility 0.3s;
}

.mask.show,
.mask.is-modal {
    opacity: 0.8;               /* メニュー開・モーダル：表示 */
    visibility: visible;
}

.mask.is-modal {
    z-index: var(--z-mask-is-modal);
}



/**************************************************
   Common / Media Queries
**************************************************/
/*-------------------------------------------------
   Mobile & Tablet (Layout Switch) 
   画面サイズに応じたレイアウトの切り替え（ブレイクポイント: 768px）
-------------------------------------------------*/
@media screen and (max-width:768px) {
    html {
        scrollbar-gutter: auto;             /* スクロールバーのための隙間をなくす */
    }

    .global-nav {
        width: 100%;
        height: 100dvh;
        border-radius: 0;
        padding-block: var(--space-xl);
        clip-path: inset(0 0 100% 0);       /* メニュー閉：下方向100%を切り取り（スマホの上下メニューバーの色残りを見えないようにする） */
        transform: translateY(-100dvh);     /* メニュー閉：非表示（画面外にずらす） */
        visibility: hidden;
        transition:
            transform 0.6s ease,            /* メニュー開閉：0.6秒かけてメニューをスライドして表示・非表示 */
            visibility 0.6s,                /* メニュー開閉：0.6秒後にメニューを表示・非表示 */
            clip-path 0.9s ease 0.3s;       /* メニュー開閉：0.3秒遅れて0.9秒かけて切り取り実行・解除 */
    }

    .global-nav.show {
        clip-path: inset(0 0 0 0);          /* メニュー開：切り取りを解除 */
        visibility: visible;                /* メニュー開：表示 */ 
        transform: translateY(0);           /* メニュー開：表示（画面内に戻す） */
    }

    .global-nav-item {
        border-top: var(--border-base) dotted var(--white);
    }

    .global-nav-item:last-child {
        border-bottom: var(--border-base) dotted var(--white);
    }

    .global-nav-item a {
        display: block;
        padding-block: var(--space-m);
        padding-inline: var(--space-l);
    }

    .section {
        margin-bottom: var(--space-xl);
    }

    .section-title {
        margin-bottom: var(--space-m);
    }

    .section-lead {
        width: var(--container-x);
        padding-inline: var(--space-m);
        margin-bottom: var(--space-m);
    }

    .container {
        padding-inline: var(--space-s);
    }

    .contact-section {
        height: 100vh;
        margin-bottom: 0;
        padding-block: 10vh;
    }

    .contact-outer {
        display: block;
        height: 80vh;
        padding-inline: 0;
        border-radius: var(--radius-m);
    }

    .photo-inner {
        width: 60%;
        margin-inline: auto;
        margin-bottom: var(--space-s);
        height: 20vh;
    }

    .photo-inner img {
        width: 40%; 
    }

    .contact-item {
        padding: var(--space-m);
    }

    .contact-msg {
        font-size: var(--font-size-s);
    }

    .mail-btn {
        padding-block: var(--space-2xs);
        padding-inline: var(--space-m);
        font-size: var(--font-size-m);
    }

    .sp-br {
        display: block;
    }

    .github-link {
        bottom: var(--space-2xs);
    }

    .github-link::after {
        content: ">";               /* マウスホバー演出の代わりにクリックが出来ることを認識できるように追加 */
        position: relative;
        top: 50%;
        left: var(--space-2xs);
        transform: translateY(-50%);
    }

    .copy-right {
        bottom: var(--space-2xs);
    }
}


/*-------------------------------------------------
   Desktop & Mouse (Hover Effects)
   マウス操作が可能なデバイス（PCなど）専用の演出
-------------------------------------------------*/
@media (hover:hover) {
    body.content-ready .cursor.cursor-large {
        scale: 3;                                   /* ホバー：大きくする */
        background-color: var(--green);             /* ホバー：緑 */
    }

    .global-nav-item a:hover {
        background-color: var(--blue);              /* ホバー：背景色を青 */
        transition: background-color 0.8s ease;     /* ホバー：0.8秒かけて背景色を徐々に変化 */
    }

    .mail-btn:hover {
        background: var(--gradient);
        color: var(--white);
        transition: color 0.5s ease;                /* ホバー：0.5秒かけて文字色を徐々に変化 */
    }

    .pagetop:hover {
        background-color: var(--blue);
        padding-right: var(--space-m);              /* 少し左にせり出す */
    }
}


/*-------------------------------------------------
   Touch Devices (Touch Optimization) --- 
   タッチ操作メインのデバイス（スマホ・タブレット）専用の最適化
-------------------------------------------------*/
@media (hover: none), (pointer: coarse) {
    a, button {
        -webkit-tap-highlight-color: transparent;   /* リンクを長押しした時のシステムのハイライトを消す */
    }

    img, a {
        -webkit-touch-callout: none;                /* 画像やリンクを長押しした時に「コピー/保存」メニューが出るのを防ぐ */
    }

    .global-nav, .menu {
        user-select: none;                          /* スライド操作中に誤って文字が選択されるのを防ぐ */
        -webkit-user-select: none;
    }

    .cursor {
        display: none;                              /* カーソルを隠す */
    }
}
