@charset "utf-8";

/**************************************************
z-index 管理（全ページ分）
**************************************************/
/* 10000: ローディング（全てを隠す） */
.loading { z-index: 10000; }

/*  9000: カスタムカーソル */
.cursor { z-index: 9000; }

/*  3000: ヘッダー・フッター */
header { z-index: 3000; }
    .menu { z-index: 200; }         /* 200: メニューボタン（ヘッダー内の順番） */
    .global-nav { z-index: 100; }   /* 100: メニュー（ヘッダー内の順番） */

footer { z-index: 3000; }

/*  2000: メニュー表示時の背景マスク */
.mask { z-index: 2000; }

/* 0 (auto): メイン */
main { z-index: 1; }
    



/**************************************************
共通　Colors / Fonts (Adobe Fonts)
**************************************************/
:root {
    /* Colors */
    --white: #faffff;
    --gray: #e6ecec;
    --green: #558890;
    --blue: #070638;
    --black: #1C1C1C;

    /* Fonts */
    --base-font: dnp-shuei-gothic-gin-std, Montserrat, Corbel, source-sans-pro, sans-serif;
    --accent-font: "pt-sans", sans-serif;
}

.wf-loading body {
    color: transparent;     /* 読み込み中はテキストを隠す（ちらつき防止） */
}

.wf-active body,
.wf-inactive body {
    color: inherit;         /* 読み込み完了、または失敗時は表示する */
}



/**************************************************
共通　Selectors
**************************************************/
html {
    font-size: 62.5%;   /* default 16px * 62.5% = 10px を基準とする */
    width: 100%;
    scrollbar-gutter: stable;   /* スクロールバーの幅を常に確保し、重ねて表示 */ 
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: var(--base-font);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;      /* 10px * 1.2 = 12px */
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: var(--black);
    margin: 0 auto;
    background: var(--gray);
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

span {
    display: inline-block;
}



/**************************************************
追尾カーソル
**************************************************/

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    translate: var(--x, 0px) var(--y, 0px); /* JSから受け取る座標。初期値は画面外(0,0) */
    margin: -5px 0 0 -5px;
    background-color: var(--blue);
    border-radius: 50%;
    opacity: 0;             /* 最初は透明にする */
    visibility: hidden;
    pointer-events: none;   /* ポインターイベントの対象から外す */
    transition: 
        translate 0.1s ease-out,
        opacity 0.3s ease,
        visibility 0.5s,
        scale 0.3s ease, 
        background-color 0.3s ease;
}

body.content-ready .cursor {
    opacity: 0.5;
    visibility: visible;
}

/* ホバー時 */
.cursor.cursor-large {
    opacity: 0.5;
    scale: 4;
    background-color: var(--green);
}

/* PC以外ではカーソルを隠す（スマホ対応） */
@media (hover: none), (pointer: coarse) {
    #cursor {
        display: none;
    }
}



/**************************************************
共通セレクタ　ヘッダー
**************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.site-title {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0;
}

.site-title a {
    font-family: var(--accent-font);
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.6em;
    text-align: justify;
}


/*** グローバルナビ（メニュー） ***/
.global-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 320px;
    background: var(--green);
    color: var(--white);
    border-radius: 20px 0 0 20px;
    transform: translateX(200px);
    transition: all 0.3s;
}

.global-nav-list {
    padding: 100px 0;
}

.global-nav-item a {
    display: block;
    padding: 16px 54px;
    font-size: 1.6rem;
}

.global-nav-item a:hover {
    background: var(--blue);
    color: var(--white);
    transition: all 1s;
}


/*** メニューボタン ***/
.menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: var(--blue);
    transition: all 0.5s;
}

.menu span:nth-child(1) {
    transform: translateY(calc(50% - 5px));
}

.menu span:nth-child(2) {
    transform: translateY(calc(50% + 5px));
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black);
    visibility: hidden;
    opacity: 0.8;
}


/*** メニュー表示 ***/
.global-nav.show {
    transform: translateX(0);
}

.menu.show span {
    background: var(--white);
}

.menu.show span:nth-child(1) {
    transform: translateY(50%) rotate(45deg);
}

.menu.show span:nth-child(2) {
    transform: translateY(50%) rotate(-45deg);
}

.mask.show {
    visibility: visible;
}



/**************************************************
共通セレクタ　メイン
**************************************************/

main {
    position: relative;
    width: 100%;
}

.wrapper {
    width: 100%;
    padding: 60px 0;
}

.section {
    width: 84%;
    margin: 0 auto 120px;
}

.section-title {
    font-family: var(--accent-font);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: 0.6em;
    text-align: center;
    border-bottom: 0.5px solid var(--green);
    margin: 0 auto 100px;
}

.label {
    font-weight: 400;
    border: 1px solid var(--blue);
    border-radius: 12px;
    padding: 1px 12px;
    margin: 5px;
}

.work-type-label {
    background: var(--blue);
    color: var(--white);
}

.work-skill-label {
    background: var(--white);
    color: var(--blue);
}



/**************************************************
共通セレクタ　フッター
**************************************************/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

.github-link {
    position: absolute;
    bottom: 30px;
    left: 30px;
    letter-spacing: 0.2em;
    color: var(--blue);
}

.copy-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 0.15em;
}
