@charset "utf-8";



/**************************************************
キーフレーム
**************************************************/

/*** スクロールバー ***/
@keyframes scroll-bar {
    0% {
        transform: scaleX(0);
        transform-origin: left;     /* 左端を固定して右へ伸ばす */
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;    /* 右端を固定して左へ縮ませる */
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

/*** ローディング画面 ***/
@keyframes hidden {
    to {
        opacity: 0;
    }
}

/*** テキストをくるっと上に回転して切り替え ***/
@keyframes textSlideChange {
    0% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);                /* 少しボカす */
    }
    50% {
        transform: translateY(-16px);   /* 上に少しだけ動く */
        opacity: 0;
        filter: blur(2px);
    }
    50.1% {
        transform: translateY(16px);    /* 下の近い位置で待機 */
        opacity: 0;
        filter: blur(2px);              /* 少しボカす */
    }
    100% {
        transform: translateY(0);       /* 元の位置に戻る */
        opacity: 1;
        filter: blur(0);
    }
}



/**************************************************
ローディング画面
**************************************************/

.loading {
    position: fixed;
    inset: 0;
    background-color: var(--black);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    /* ローディング画面を非表示（2回目以降の訪問時） */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;   /* マウス操作を無効化 */

    /* 消える時の設定：0.8秒かけてふわっと消す */
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* ローディング画面を表示（初回訪問時） */
.is-first-visit .loading {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;   /* マウス操作を有効化 */

    /* 現れる時の設定：transitionを上書きして現れる時のチラつき防止 */
    transition: none;
}

/* カウントアップ数字のスタイル */
.loading-counter {
    font-family: Montserrat, "pt-sans", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
    color: var(--white);
    letter-spacing: 0.3em;
    transform: translateY(-5%);
    opacity: 0;
    filter: blur(10px); /* 最初は少しボカす */
    transition: 
        opacity 0.8s ease-out, 
        filter 0.8s ease-out, 
        transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* htmlにis-first-visitがついたら、本来の姿に戻る */
.is-first-visit .loading-counter {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* フェードアウト用の設定（JSでis-first-visitを外すとこれが効く） */
html:not(.is-first-visit) .loading {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}



/**************************************************
制作物スライド
**************************************************/

/*** 制作物のタイトル・説明 ***/
.work-title-area {
    position: fixed;
    left: 25%;
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    overflow: hidden;   /* はみ出た文字を隠して文字が上にくるっと切り替わるのを表現 */
}

.work-title-block {
    display: flex;
    align-items: center;
}

.work-title {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1px 0;
    margin-left: 16px;
    color: var(--blue);
}

.work-description {
    color: var(--blue);
    padding: 1px 0;
}

/* テキストをくるっと上に回転して切り替えるアニメーション用のクラス */
.is-change {
    animation: textSlideChange 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

/*** 制作物の画像エリア ***/
.works-list {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: auto;           /* 横スクロールを有効 */
    overflow-y: clip;           /* 縦スクロールを無効 */
    overscroll-behavior-x: contain; /* スクロールが端で止まるように */
    scroll-snap-type: x mandatory;  /* 横方向にスナップ */
    -ms-overflow-style: none;   /* スクロールバーを非表示（IE / 旧Edge用） */
    scrollbar-width: none;      /* スクロールバーを非表示（Firefox用） */
    scroll-behavior: smooth;    /* JSの移動を滑らかにする */
    -webkit-overflow-scrolling: touch;  /* 指での操作を滑らかにする */
    padding: 0 25%; 
    gap: 10%;
}

.works-list::-webkit-scrollbar {
    display: none;              /* スクロールバーを非表示（Chrome / Safari / 新Edge用） */
}

.work-item {
    flex-shrink: 0;
    width: 50%; 
    flex-basis: 100%;
    scroll-snap-align: center;  /* エリアの中央にスナップ */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* キャッチコピー */
.catch-copy {
    text-align: center;
    font-weight: 400;
}

.copy-jp {
    display: block;
    font-size: 2.4rem;
    line-height: 6rem;
    letter-spacing: 0.3em;
}

.copy-jp-en {
    font-size: 2.6rem;
    font-family:  "pt-sans", sans-serif;
}

.copy-en {
    font-size: 1.2rem;
    letter-spacing: 0.3em;
    color: var(--green);
    font-family:  "pt-sans", sans-serif;
}

.work-item a {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    filter: drop-shadow(0 0 3px #ccc);
}

.work-item a img {
    width: 100%;
    height: auto;
    transform: scale(0.8); 
    opacity: 0.3;
    transition: transform 0.5s ease, opacity 0.5s ease; /* スムーズに動かす */
}

.work-item a:hover img {
    transform: scale(1.1);
}

/* 中央に来た時のスタイル */
.work-item.is-active img {
    transform: scale(1);
    opacity: 1;
}



/**************************************************
スクロールバー
**************************************************/

.scroll {
    position: fixed;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.scroll-txt {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.6em;
    color: var(--black);
    background: var(--gray);
}

.scroll-txt::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 45px;
    left: 25%;
    right: 25%;
    height: .5px;
    margin: 0 auto;
    background: var(--black);
    animation: scroll-bar 1.2s infinite ease-out;
}
