@charset "utf-8";



/**************************************************
キーフレーム
**************************************************/

/*** スクロールバー ***/
@keyframes scroll-bar {
    0% {
        transform: scaleX(0);
        transform-origin: left;     /* 左端を固定して右へ伸ばす */
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;    /* 右端を固定して左へ縮ませる */
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

/*** ローディング画面 ***/
@keyframes hidden {
    to {
        opacity: 0;
    }
}

/*** テキストをくるっと上に回転して切り替え ***/
@keyframes textSlideChange {
    0% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);                /* 少しボカす */
    }
    50% {
        transform: translateY(-16px);   /* 上に少しだけ動く */
        opacity: 0;
        filter: blur(2px);
    }
    50.1% {
        transform: translateY(16px);    /* 下の近い位置で待機 */
        opacity: 0;
        filter: blur(4px);              /* 少しボカす */
    }
    100% {
        transform: translateY(0);       /* 元の位置に戻る */
        opacity: 1;
        filter: blur(0);
    }
}



/**************************************************
ローディング画面
**************************************************/

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-out, visibility 0s .5s;
}

.loading.loading-complete {
    display: none;
}

.loading.loading-hidden {
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    font-size: 2.4rem;
    letter-spacing: .15em;
    color: var(--white);
    opacity: 0;
}

.loading-text.show-text {
    opacity: 1;
    transition: opacity .1s ease-in;
}

.loading-text span {
    display: inline-block;
    opacity: 0;
    transition: opacity .2s ease-in-out; 
}

.loading-text span.animate-text {
    opacity: 1;
}



/**************************************************
制作物スライド
**************************************************/

/*** 制作物のタイトル・説明 ***/
.work-title-area {
    position: fixed;
    left: 25%;
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    overflow: hidden;   /* はみ出た文字を隠して文字が上にくるっと切り替わるのを表現 */
}

.work-title-block {
    display: flex;
    align-items: center;
}

.work-title {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1px 0;
    margin-left: 16px;
    color: var(--blue);
}

.work-description {
    color: var(--blue);
    padding: 1px 0;
}

/* テキストをくるっと上に回転して切り替えるアニメーション用のクラス */
.is-change {
    animation: textSlideChange .8s cubic-bezier(0.16, 1, 0.3, 1);
}

/*** 制作物の画像エリア ***/
.works-list {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: auto;           /* 横スクロールを有効 */
    overflow-y: clip;           /* 縦スクロールを無効 */
    scroll-snap-type: x mandatory;  /* 横方向にスナップ */
    -ms-overflow-style: none;   /* スクロールバーを非表示（IE / 旧Edge用） */
    scrollbar-width: none;      /* スクロールバーを非表示（Firefox用） */
    scroll-behavior: smooth;    /* JSの移動を滑らかにする */
    -webkit-overflow-scrolling: touch;  /* 指での操作を滑らかにする */
    padding: 0 25%; 
    gap: 10%;
}

.works-list::-webkit-scrollbar {
    display: none;              /* スクロールバーを非表示（Chrome / Safari / 新Edge用） */
}

.work-item {
    flex-shrink: 0;
    width: 50%; 
    flex-basis: 100%;
    scroll-snap-align: center;  /* エリアの中央にスナップ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item a {
    display: block;
    width: 100%;
}

.work-item a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 3px #ccc);
    transform: scale(0.8); 
    opacity: 0.5;
    transition: transform 0.5s ease, opacity 0.5s ease; /* スムーズに動かす */
}

/* 中央に来た時のスタイル */
.work-item.is-active img {
    transform: scale(1);
    opacity: 1;
}



/**************************************************
スクロールバー
**************************************************/

.scroll {
    position: fixed;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.scroll-txt {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .6em;
    color: var(--black);
    background: var(--gray);
}

.scroll-txt::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 45px;
    left: 25%;
    right: 25%;
    height: .5px;
    margin: 0 auto;
    background: var(--black);
    animation: scroll-bar 1.2s infinite ease-out;
}
