@charset "utf-8";

/* --- 変数はcommon.cssで一括管理 --- */



/**************************************************
   Works Section
**************************************************/
.work-container {
    display: flex;
    justify-content: space-between;
}


/* --- Work filter list --- */
.work-filter-list {
    flex-basis: 25%;
    height: 350px;
    padding: var(--space-l);
    background-color: var(--white);
    border-radius: var(--radius-s);
}

.work-filter-item {
    padding-block: var(--space-xs);
    font-family: var(--accent-font);
    font-size: 3rem;
    color: var(--green);
}


/* --- Work list --- */
.work-list {
    flex-basis: 68%;
}

.work-item {
    margin-bottom: var(--space-xl);
}

.work-item img {
    margin-bottom: 40px;
    border-radius: var(--radius-s);
    border: var(--border-thin) solid var(--green);
}

.skill-label {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.work-title-jp {
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0.2em;
}

.work-skill-label {
    font-size: var(--font-size-s);
    color: var(--green);
    border: var(--border-thin) solid var(--green);
    border-radius: var(--radius-l);         /* 左右両端を半円にする（要素の高さの半分より大きい値を設定すれば自動的に半円になる） */
    padding-block: var(--space-2xs);
    padding-inline: var(--space-s);
}
